<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!-- adding resource factories -->


   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.xkonnex.repo.workbench.ui.newWizards"
            name="XKonneX Repository">
      </category>

      <wizard
            category="org.xkonnex.repo.workbench.ui.newWizards"
            class="org.xkonnex.repo.workbench.ui.ServiceRepositoryExecutableExtensionFactory:org.xkonnex.repo.workbench.ui.wizards.ServiceRepositoryNewProjectWizard"

            id="org.xkonnex.repo.workbench.ui.wizards.ServiceRepositoryNewProjectWizard"
            name="XKonneX Repository Project"
            project="true">
      </wizard>
    </extension>
    <extension point="org.eclipse.search.searchPages">
	   <page id="org.xkonnex.repo.workbench.ui.search.dialog.ServiceRepositorySearchPage"
			icon="icons/full/etool16/search.gif"
			label="XKonneX Repository Search"
			extensions="svcdsl:99,moddsl:90,binddsl:90,soldsl:90,sladsl:90,profdsl:90,envdsl:90,semdsl:90"
			showScopeSection="true"
			canSearchEnclosingProjects="true"
			class="org.xkonnex.repo.workbench.ui.search.dialog.ServiceRepositorySearchPage">
		</page>
	</extension>
	<extension
		id="ServiceRepositorySearchViewPage"
		point="org.eclipse.search.searchResultViewPages">
		<viewPage
			id="org.xkonnex.repo.workbench.ui.search.dialog.ServiceRepositorySearchViewPage"
			searchResultClass="org.xkonnex.repo.workbench.ui.search.EObjectSearchResult"
			class="org.xkonnex.repo.workbench.ui.search.dialog.ServiceRepositorySearchViewPage">
		</viewPage>
	</extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="org.eclipse.ui.internal.dialogs.EmptyPreferencePage"
            id="org.xkonnex.repo.Workbench"
            name="XKonneX Repository">
        </page>
	</extension>

</plugin>
