<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.fornax.org/soa/BindingDsl" 
       class = "org.fornax.soa.bindingDsl.BindingDslPackage"
       genModel = "org/fornax/soa/BindingDsl.genmodel" /> 
	
  </extension>





</plugin>
