<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>connex.web</display-name>

	<listener>
	  <listener-class>org.xkonnex.repo.server.web.XKonneXRepoGuiceServletConfig</listener-class>
	</listener>

	<!--
		There are three means to configure Wickets configuration mode and they 
		are tested in the order given.
		
		1) A system property: -Dwicket.configuration 
		2) servlet specific <init-param> 
		3) context specific <context-param>

		The value might be either "development" (reloading when templates change) or 
		"deployment". If no configuration is found, "development" is the default. -->

    <filter>
        <filter-name>guiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>

	<filter>
		<filter-name>wicket.connex.web</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.xkonnex.repo.server.web.XKonneXRepoApplication</param-value>
		</init-param>
	</filter>
 
    <filter-mapping>
        <filter-name>guiceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
 
	<filter-mapping>
		<filter-name>wicket.connex.web</filter-name>
		<url-pattern>/console/*</url-pattern>
	</filter-mapping>
	
	<servlet>
	     <servlet-name>XKonneXGitServlet</servlet-name>
	     <servlet-class>org.xkonnex.repo.server.web.git.XKonneXRepoGitServlet</servlet-class>
	     <!-- init-param>
	       <param-name>base-path</param-name>
	       <param-value>/var/srv/git</param-value>
	     </init-param-->
	     <init-param>
	       <param-name>export-all</param-name>
	       <param-value>0</param-value>
	     </init-param>
	 </servlet>
	 <servlet-mapping>
	     <servlet-name>XKonneXGitServlet</servlet-name>
	     <url-pattern>/git/*</url-pattern>
	 </servlet-mapping>
	 
    <resource-ref>
        <res-ref-name>jdbc/XSR_DB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
