<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.fornax.soa.servicerepo.Examples" 
				  name="%category.name" 
				  parentCategory="org.eclipse.ui.Examples" />
	</extension>

	<!-- ========= org.fornax.soa.servicerepo.simple.example ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.fornax.soa.servicerepo.NewSimpleExampleWizard" 
			name="%wizard.name" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.fornax.soa.servicerepo.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>%wizard.description</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	   <example wizardID="org.fornax.soa.servicerepo.NewSimpleExampleWizard" pageImage="icons/genproject.gif">
		 <projectDescriptor name="org.fornax.soa.servicerepo.simple.example" contentURI="contents/org.fornax.soa.servicerepo.simple.example.zip" description="%projectDescriptor.description"/>
	  </example>
	</extension>   
   
</plugin>