<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!-- adding resource factories -->


   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.fornax.soa.ui.newWizards"
            name="Service Repository">
      </category>

      <wizard
            category="org.fornax.soa.ui.newWizards"
            class="org.fornax.soa.servicerepo.ui.ServiceRepositoryExecutableExtensionFactory:org.fornax.soa.servicerepo.ui.wizards.ServiceRepositoryNewProjectWizard"

            id="org.fornax.soa.servicerepo.ui.wizards.ServiceRepositoryNewProjectWizard"
            name="Service Repository Project"
            project="true">
      </wizard>
    </extension>
    <extension point="org.eclipse.search.searchPages">
	   <page id="org.fornax.soa.servicerepo.ui.search.dialog.ServiceRepositorySearchPage"
			icon="icons/full/etool16/search.gif"
			label="Service Repository Search"
			extensions="svcdsl:90"
			showScopeSection="true"
			canSearchEnclosingProjects="true"
			class="org.fornax.soa.servicerepo.ui.search.dialog.ServiceRepositorySearchPage">
		</page>
	</extension>
	<extension
		id="ServiceRepositorySearchViewPage"
		point="org.eclipse.search.searchResultViewPages">
		<viewPage
			id="org.fornax.soa.servicerepo.ui.search.dialog.ServiceRepositorySearchViewPage"
			searchResultClass="org.fornax.soa.servicerepo.ui.search.EObjectSearchResult"
			class="org.fornax.soa.servicerepo.ui.search.dialog.ServiceRepositorySearchViewPage">
		</viewPage>
	</extension>


</plugin>
