<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.xkonnex.repo.Examples" 
				  name="%category.name" 
				  parentCategory="org.eclipse.ui.Examples" />
	</extension>

	<!-- ========= org.xkonnex.repo.simple.example ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.xkonnex.repo.NewSimpleExampleWizard" 
			name="%simple.example.name" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.xkonnex.repo.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>%simple.example.description</description>
		</wizard>
	</extension>

	<!-- ========= org.xkonnex.repo.rest.example ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.xkonnex.repo.NewRestExampleWizard" 
			name="%rest.example.name" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.xkonnex.repo.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>%rest.example.description</description>
		</wizard>
	</extension>
	
	<!-- ========= org.xkonnex.repo.advanced.example ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.xkonnex.repo.NewAdvancedExampleWizard" 
			name="%advanced.example.name" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.xkonnex.repo.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>%advanced.example.description</description>
		</wizard>
	</extension>

	<extension point="org.eclipse.emf.common.ui.examples">
	    <example wizardID="org.xkonnex.repo.NewSimpleExampleWizard" pageImage="icons/genproject.gif">
		 	<projectDescriptor name="org.xkonnex.repo.simple.example" contentURI="contents/org.xkonnex.repo.simple.example.zip" description="%simple.example.repoproject.description"/>
		 	<projectDescriptor name="org.xkonnex.repo.simple.generator.example" contentURI="contents/org.xkonnex.repo.simple.generator.example.zip" description="%simple.example.generatorproject.description"/>
	    </example>
	</extension>

	<extension point="org.eclipse.emf.common.ui.examples">
	    <example wizardID="org.xkonnex.repo.NewRestExampleWizard" pageImage="icons/genproject.gif">
		 	<projectDescriptor name="org.xkonnex.repo.rest.example" contentURI="contents/org.xkonnex.repo.rest.example.zip" description="%rest.example.repoproject.description"/>
		 	<projectDescriptor name="org.xkonnex.repo.rest.generator.example" contentURI="contents/org.xkonnex.repo.rest.generator.example.zip" description="%rest.example.generatorproject.description"/>
	    </example>
	</extension>
	
	<extension point="org.eclipse.emf.common.ui.examples">
	    <example wizardID="org.xkonnex.repo.NewAdvancedExampleWizard" pageImage="icons/genproject.gif">
			<projectDescriptor name="org.xkonnex.repo.advanced.example" contentURI="contents/org.xkonnex.repo.advanced.example.zip" description="%advanced.example.repoproject.description"/>
			<projectDescriptor name="org.xkonnex.repo.advanced.generator.example" contentURI="contents/org.xkonnex.repo.advanced.generator.example.zip" description="%advanced.example.generatorproject.description"/>
	    </example>
	</extension>   
   
</plugin>