<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!-- adding resource factories -->


   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.fornax.soa.ui.newWizards"
            name="Service Repository">
      </category>

      <wizard
            category="org.fornax.soa.ui.newWizards"
            class="org.fornax.soa.servicerepo.ui.ServiceRepositoryExecutableExtensionFactory:org.fornax.soa.servicerepo.ui.wizards.ServiceRepositoryNewProjectWizard"

            id="org.fornax.soa.servicerepo.ui.wizards.ServiceRepositoryNewProjectWizard"
            name="Service Repository Project"
            project="true">
      </wizard>
   </extension>



</plugin>
