<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.xkonnex.org/repo/dsl/profiledsl/ProfileDsl" 
       class = "org.xkonnex.repo.dsl.profiledsl.profileDsl.ProfileDslPackage"
       genModel = "model/generated/ProfileDsl.genmodel" /> 
	
  </extension>




</plugin>
