<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.xkonnex.org/repo/dsl/moduledsl/ModuleDsl" 
       class = "org.xkonnex.repo.dsl.moduledsl.moduleDsl.ModuleDslPackage"
       genModel = "model/generated/ModuleDsl.genmodel" /> 
	
  </extension>




</plugin>
