<html xmlns:wicket="http://wicket.apache.org">
    <head>
        <title>NavBar</title>
    </head>

	<body>
        <wicket:panel>
	        <nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="console">XKonneX</a>
					</div>
					<div>
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Home</a></li>
							<li class="dropdown"><a class="dropdown-toggle"
								data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">Page 1-1</a></li>
									<li><a href="#">Page 1-2</a></li>
									<li><a href="#">Page 1-3</a></li>
								</ul></li>
							<li><a href="#">Page 2</a></li>
							<li><a href="#">Page 3</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#"><span class="glyphicon glyphicon-user"></span>
									Sign Up</a></li>
							<li><a wicket:id="signoutLink" href="#"><span class="glyphicon glyphicon-log-out"></span>
									Logout</a></li>
						</ul>
					</div>
				</div>
			</nav>
	    </wicket:panel>
    </body>
</html>