<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension-point id="SOAProfileDSLValidator" name="Pluggable SOA Profile DSL validator" schema="schema/SOAProfileDSLValidator.exsd"/>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="org.fornax.soa.profiledsl.ui.SOAProfileDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="profdsl"
            id="org.fornax.soa.profiledsl.SOAProfileDsl"
            name="SOAProfileDsl Editor">
        </editor>
    </extension>
   	<extension
	      point = "org.eclipse.ui.newWizards">
		 <wizard
         category="org.fornax.soa.ui.newWizards"
         class="org.fornax.soa.profiledsl.ui.SOAProfileDslExecutableExtensionFactory:org.fornax.soa.profiledsl.ui.wizard.NewProfileDslFileWizard"
         hasPages="true"
         
         id="org.fornax.soa.profiledsl.ui.wizard.NewProfileDslFileWizard"
         name="SOA profile file">
	       <description>Create a new SOA profile file</description>
		   <selection class="org.eclipse.core.resources.IResource"/>
		</wizard>
	</extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="org.fornax.soa.profiledsl.ui.SOAProfileDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="org.fornax.soa.profiledsl.SOAProfileDsl.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="org.fornax.soa.profiledsl.ui.SOAProfileDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="org.fornax.soa.profiledsl.SOAProfileDsl.validate">
         <activeWhen>
            <reference
                    definitionId="org.fornax.soa.profiledsl.SOAProfileDsl.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.fornax.soa.profiledsl.SOAProfileDsl.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.fornax.soa.profiledsl.SOAProfileDsl" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="org.fornax.soa.profiledsl.ui.SOAProfileDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.fornax.soa.profiledsl.SOAProfileDsl"
            name="SOAProfileDsl">
            <keywordReference id="org.fornax.soa.profiledsl.ui.keyword_SOAProfileDsl"/>
        </page>
        <page
            category="org.fornax.soa.profiledsl.SOAProfileDsl"
            class="org.fornax.soa.profiledsl.ui.SOAProfileDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="org.fornax.soa.profiledsl.SOAProfileDsl.coloring"
            name="Syntax Coloring">
            <keywordReference id="org.fornax.soa.profiledsl.ui.keyword_SOAProfileDsl"/>
        </page>
        <page
            category="org.fornax.soa.profiledsl.SOAProfileDsl"
            class="org.fornax.soa.profiledsl.ui.SOAProfileDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="org.fornax.soa.profiledsl.SOAProfileDsl.templates"
            name="Templates">
            <keywordReference id="org.fornax.soa.profiledsl.ui.keyword_SOAProfileDsl"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="org.fornax.soa.profiledsl.ui.SOAProfileDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.fornax.soa.profiledsl.SOAProfileDsl"
            name="SOAProfileDsl">
            <keywordReference id="org.fornax.soa.profiledsl.ui.keyword_SOAProfileDsl"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="org.fornax.soa.profiledsl.ui.keyword_SOAProfileDsl"
            label="SOAProfileDsl"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="org.fornax.soa.profiledsl.SOAProfileDsl.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.fornax.soa.profiledsl.SOAProfileDsl.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.fornax.soa.profiledsl.SOAProfileDsl.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="org.fornax.soa.profiledsl.SOAProfileDsl.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="org.fornax.soa.profiledsl.ui.SOAProfileDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="org.fornax.soa.profiledsl.SOAProfileDsl.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.fornax.soa.profiledsl.ui.SOAProfileDslExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="profdsl">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.fornax.soa.profiledsl.ui.SOAProfileDslExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="profdsl">
        </resourceServiceProvider>
    </extension>



	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.fornax.soa.profiledsl.ui.SOAProfileDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.fornax.soa.profiledsl.SOAProfileDsl.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.fornax.soa.profiledsl.SOAProfileDsl.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
   <!-- quickfix marker resolution generator -->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.fornax.soa.profiledsl.ui.SOAProfileDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="org.fornax.soa.profiledsl.SOAProfileDsl.compare.contentViewers"
            class="org.fornax.soa.profiledsl.ui.SOAProfileDslExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="profdsl">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="org.fornax.soa.profiledsl.SOAProfileDsl.compare.contentMergeViewers"
            class="org.fornax.soa.profiledsl.ui.SOAProfileDslExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="profdsl" label="SOAProfileDsl Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="org.fornax.soa.profiledsl.SOAProfileDsl.editors.documentProviders"
            class="org.fornax.soa.profiledsl.ui.SOAProfileDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="profdsl">
    </provider>
  </extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="org.fornax.soa.profiledsl.ui.SOAProfileDslExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.IRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="org.fornax.soa.profiledsl.SOAProfileDsl.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="org.fornax.soa.profiledsl.SOAProfileDsl.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="org.fornax.soa.profiledsl.SOAProfileDsl"
	        class="org.fornax.soa.profiledsl.ui.SOAProfileDslExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="org.fornax.soa.profiledsl.SOAProfileDsl.refactoring"
	        name="Refactoring">
	        <keywordReference id="org.fornax.soa.profiledsl.ui.keyword_SOAProfileDsl"/>
	    </page>
	</extension>

</plugin>
